In [1]:
import pandas as pd
import numpy as np

In [6]:
b = pd.Series([3, 5, 7], index=['2019-1-1','2018-1-1','2017-1-1'])
b

2019-1-1    3
2018-1-1    5
2017-1-1    7
dtype: int64

In [7]:
b.index

Index(['2019-1-1', '2018-1-1', '2017-1-1'], dtype='object')

In [8]:
b.index = pd.to_datetime(b.index, format='%Y-%m-%d')
b.index

DatetimeIndex(['2019-01-01', '2018-01-01', '2017-01-01'], dtype='datetime64[ns]', freq=None)

In [12]:
b = b.astype(np.float64)
b

2019-01-01    3.0
2018-01-01    5.0
2017-01-01    7.0
dtype: float64

In [13]:
c = pd.Series({'1st':1,'2nd':2})
c

1st    1
2nd    2
dtype: int64

In [14]:
print(c.index)
print(c.values)

Index(['1st', '2nd'], dtype='object')
[1 2]

In [19]:
d = pd.Series([3,4,6,7,1,2,5])
print(d[[1,3]])
print(d.head(1))
print(d.tail(1))

1    4
3    7
dtype: int64
0    3
dtype: int64
6    5
dtype: int64

In [28]:
print(d[(d > 1) & (d < 5)])
d[d > 5] = 6
d

0    3
1    4
5    2
dtype: int64

0    3
1    4
2    6
3    6
4    1
5    2
6    5
dtype: int64

In [31]:
d = d.append(pd.Series([1,3,7,4,5]))
d

0    3
1    4
2    6
3    6
4    1
5    2
6    5
0    1
1    3
2    7
3    4
4    5
0    1
1    3
2    7
3    4
4    5
dtype: int64

In [32]:
d = d.drop([0, 1, 2])
d

3    6
4    1
5    2
6    5
3    4
4    5
3    4
4    5
dtype: int64

In [33]:
d.to_pickle('d.pkl')
d2 = pd.read_pickle('d.pkl')
d2

3    6
4    1
5    2
6    5
3    4
4    5
3    4
4    5
dtype: int64